html, body {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 227, 227);
}
body{
    font-size: 62.5%;
}

.topBar{
    border-bottom: 1px solid black;
    
}
    .txtContato{
        display: flex;
        margin: 4px;
        font-size: 1.2em;
        justify-content: center;
        
    }

.logo > img{
    display:flex;
    justify-content: center;
    width: 180px;
    height: 70px;
}

.navBar{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
    .navBar > li{
        margin: 0 25px 0 25px;
        font-size:1.4em;
    }